<h1>Result</h1>

<p>Your try : <strong><%= @try %></strong></p>

<div class="response">
  <%= @win %>
  <%= @not_english %>
  <%= @lose %>
  <div class="score">
    <%= @score %> 
  </div>
  <%= link_to "play again !", new_path %>
</div>



